* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
  overflow-x: hidden;
}

body {
  background-color: rgb(248, 248, 248);
  width: 100%;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 20px;
  max-width: 100%;
}

li {
  cursor: pointer;
}

.logo a {
  font-size: 1.6rem;
  white-space: nowrap;
  font-weight: 800;
  color: #6070ff;
}

.profile img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  border: 10px;
  border-radius: 15px;
}

.menu ul a img {
  width: 40px;
  height: 40px;
}

.main-section {
  background: url(image-source/header-shapes\ mobile@2x.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 80vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}

.about-me p {
  font-size: 1.1rem;
  color: #344563;
  line-height: 1.5;
}

.main-section h1 {
  font-size: 2.4rem;
  color: #172b4d;
  padding: 0 20px;
  line-height: 1.4;
}

.main-section p {
  font-size: 1.2rem;
  color: #344563;
  padding: 0 20px;
  line-height: 1.5;
}

.let {
  font-weight: 400;
  color: #111d8a;
  padding: 0 20px;
}

.nav-links {
  display: flex;
  padding: 0 20px;
  align-items: center;
  gap: 15px;
  height: 50px;
}

.nav-links li {
  width: 25px;
  height: 25px;
  overflow: hidden;
}

.nav-links li a img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.container {
  margin-top: 100px;
  padding: 20px;
  background-color: rgb(248, 248, 248);
}

.card {
  background-color: white;
  border-radius: 15px;
  padding: 20px;
  margin-bottom: 100px;
  border: 1px solid rgb(230, 223, 223);
}

.card-port-description {
  margin-top: 20px;
  border-radius: 10px;
}

.card-port-description h3 {
  font-size: 2rem;
  color: #344563;
}

.profile-description {
  display: flex;
  align-items: center;
  gap: 8px;
  margin: 20px 0;
}

.profile-description p {
  color: #0b1629;
  letter-spacing: 0;
}

.profile-description h5 {
  color: #344563;
}

.paragraph-description p {
  font-size: 1.1rem;
  line-height: 1.5;
  color: #344563;
}

.lang {
  display: flex;
  gap: 10px;
  padding: 20px 0;
}

.lang li {
  background-color: rgb(248, 248, 248);
  color: #000107;
  border-radius: 10px;
  padding: 2px 5px;
}

button {
  padding: 10px;
  background-color: white;
  border-radius: 8px;
  border: 1px solid #396df2;
  margin-bottom: 10px;
  font-size: 1.1rem;
  color: #396df2;
}

.btn a {
  font-size: 1.1rem;
  color: #396df2;
}

.framework li {
  font-size: 1.1rem;
  font-weight: bold;
  line-height: 1.5;
  color: black;
  width: 70vw;
  margin-right: 50px;
  padding: 20px 0;
}

.About-me {
  background-color: white;
  border-top-right-radius: 100px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 5rem;
}

.About-me h2 {
  font-size: 3rem;
  color: #172b4d;
  line-height: 1.4;
}

.About-me p {
  font-size: 1.1rem;
  color: #344563;
}

.language-description {
  font-size: 1.1rem;
  color: black;
}

.nav-links ul {
  display: flex;
  align-items: center;
  gap: 15px;
  height: 50px;
}

.nav-links ul li {
  width: 30px;
  height: 30px;
}

.languages {
  padding: 15px;
}

.language {
  display: flex;
  align-items: center;
  gap: 1rem;
  background-color: #f7f7f9;
  padding: 6px;
  margin-bottom: 0.8rem;
  border-radius: 10px;
}

.framework {
  display: flex;
  align-items: center;
  margin: 0 20px;
  border-bottom: 0.5px solid rgb(180, 180, 180);
}

.contact-section {
  padding: 50px 20px;
  background: url(image-source/Contact\ me.png);
  background-position: center;
  background-color: #6070ff;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  text-align: center;
  gap: 20px;
  border-top-left-radius: 100px;
}

.contact-section h2 {
  text-align: center;
  font-size: 2.4rem;
  margin-top: 2rem;
}

.contact-section p {
  font-size: 1.2rem;
  line-height: 1.5;
  color: #ebebff;
}

.input {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.input-1 {
  width: 90vw;
  height: 6vh;
  border-radius: 5px;
  border: none;
  z-index: 2;
  box-shadow: 0 0 5px;
}

.input-2 {
  width: 90vw;
  height: 20vh;
  border-radius: 5px;
  border: none;
  box-shadow: 0 0 5px;
}

.input-2::placeholder {
  color: #b3bac5;
  padding: 0 20px;
  font-size: 1.1rem;
}

.Works {
  padding: 20px;
  display: grid;
  grid-template-columns: 1fr;
}

button:hover {
  background-color: #6070ff;
  color: white;
  cursor: pointer;
}

button:active {
  background-color: #2230d2;
  color: white;
}

button:disabled {
  background-color: white;
  color: #5e6c84;
  border: #e5e5e5 1px solid;
  cursor: not-allowed;
}

.contact-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 20px;
}

fieldset {
  border: none;
}

.input-contact {
  padding: 5px 20px;
  width: 75vw;
  height: 5vh;
  font-size: 1.1rem;
  margin-bottom: 30px;
  border-radius: 6px;
  border: 1px solid rgb(237, 232, 232);
}

.message-input {
  width: 75vw;
  padding: 15px 18px;
  height: 20vh;
  font-size: 1.1rem;
  margin-bottom: 30px;
  border-radius: 6px;
  border: 1px solid rgb(237, 232, 232);
}

.button {
  width: 100%;
  text-align: left;
  font-size: 1.1rem;
}

.ellipse-33 {
  position: absolute;
  right: 0;
  margin-top: 24px;
}

.rectangle-4 {
  position: absolute;
  right: 0;
}

.rectangle-7 {
  position: absolute;
  right: 5rem;
  rotate: 2deg;
  margin-top: -80px;
}

.ellipse-5 {
  position: absolute;
  right: 7rem;
  margin-top: -50px;
}

.nav-link {
  display: none;
}

.ruby {
  display: none;
}

.el {
  display: initial;
}

.one {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

@media screen and (min-width: 768px) {
  * {
    overflow-x: hidden;
  }

  header {
    padding: 1rem 5rem;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: white;
  }

  header .menu {
    display: none;
  }

  .nav-link {
    display: initial;
  }

  .nav-link ul {
    display: flex;
    align-items: center;
  }

  .nav-link li a {
    font-size: 1.1rem;
    padding-left: 5rem;
    color: #344563;
  }

  .main-section {
    padding: 0 10rem;
    margin: auto;
    background: url(image-source/Header\ bg.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    border-bottom-left-radius: 100px;
    background-color: white;
    margin-bottom: 5rem;
    margin-top: 4rem;
    height: 100vh;
  }

  .main-section h1 {
    font-size: 3rem;
  }

  .main-section p {
    font-size: 1.4rem;
    width: 70%;
  }

  .Works {
    width: 100%;
    margin: auto;
  }

  .card {
    display: flex;
    padding: 1.5rem;
    width: 80vw;
    margin: 2rem auto;
  }

  .card:hover {
    border: 1px solid #396df2;
    box-shadow: 0 0 1px;
    cursor: pointer;
  }

  .profile {
    overflow: hidden;
    width: 50%;
    padding: 0 1.5rem 0 0;
  }

  .profile img {
    object-fit: contain;
  }

  .card-port-description {
    max-width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 1.5rem 0 0 1.5rem;
    gap: 0.5rem;
  }

  .card-port-description h3 {
    font-size: 2rem;
    color: #091e42;
  }

  .profile-description h5 {
    font-size: 1.2rem;
    font-weight: 500;
  }

  .paragraph-description p {
    font-size: 2vmin;
    line-height: 1.5;
  }

  .ruby {
    display: initial;
    white-space: nowrap;
  }

  .port-one {
    order: 3;
  }

  .port-two {
    order: 4;
  }

  .port-three {
    order: 1;
  }

  .port-four {
    order: 2;
  }

  .order-1 {
    order: 2;
    padding-left: 1rem;
  }

  .order-2 {
    order: 1;
  }

  #About {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 5rem 9rem;
    margin: auto;
    align-items: center;
  }

  .one {
    display: flex;
    flex-direction: column;
    width: 40%;
    gap: 1rem;
  }

  .two {
    width: 60%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  .languages {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
  }

  .language {
    width: 6rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0.5rem;
  }

  .framework li {
    width: 90%;
    font-weight: 400;
    outline: none;
  }

  .initial {
    border-bottom: none;
  }

  .contact-section {
    background: url(image-source/contact\ form\ background\ shapes.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-color: #6070ff;
  }

  .el {
    display: none;
  }

  .contact-section p {
    padding: 0 14rem;
  }

  .contact-form {
    padding: 3rem 40rem;
  }

  .input-contact {
    width: 35vw;
    border-radius: 2px;
  }

  .message-input {
    width: 35vw;
    border-radius: 0;
  }

  .button {
    text-align: center;
  }

  .trans:hover {
    padding-bottom: 2rem;
    transition-property: padding-bottom;
    transition-duration: 1s;
  }

  .lift:hover {
    padding-bottom: 1rem;
    transition-property: padding-bottom;
    transition-duration: 1s;
  }
}
