@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap");

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background: #e5e5e5;
  font-family: Poppins, sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: black;
}

a {
  font-family: Poppins, sans-serif;
  font-weight: 700;
  font-size: 18px;
  text-decoration: none;
  color: #6070ff;
}

ul,
li {
  list-style: none;
  padding-left: 0;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
  background-color: #fff;
  margin-bottom: 0;
}

.logo {
  width: 76px;
  height: 20px;
  line-height: 20px;
}

.main {
  padding: 16px;
  padding-bottom: 30px;
  border-bottom-left-radius: 80px;
  margin-bottom: 2rem;
  background-image: url("./image/headerbg.png");
  background-size: cover;
  background-position: 100% 10%;
  background-repeat: no-repeat;
  height: auto;
  width: 100%;
  background-color: #fff;
  margin-top: -2px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.h1 {
  font-weight: 700;
  font-size: 2.5rem;
  margin-top: 8rem;
  margin-bottom: 0;
  color: #172b4d;
  width: 80%;
  line-height: 1.2em;
}

.p {
  font-size: 1rem;
  color: #69758a;
  line-height: 1.4;
  font-weight: 400;
}

.h4-connect {
  color: #7f8be4;
  font-size: 1rem;
  font-weight: 200;
  margin: 0;
}

.flex {
  display: flex;
  gap: 0.7rem;
  padding-bottom: 3rem;
}

.item-center {
  align-items: center;
}

.icon-tag {
  width: 1rem;
  height: 1rem;
  margin: 0 0 0 16px;
}

.container {
  padding-top: 5rem;
}

.text-field {
  height: 48px;
  width: 327px;
  margin: 0;
  text-align: center;
}

#fname {
  height: 48px;
  width: 340px;
  border-radius: 8px;
}

#lname {
  margin-top: 1rem;
  height: 48px;
  width: 340px;
  border-radius: 8px;
}

.subject {
  margin: 0;
}

#subject {
  border-radius: 8px;
  height: 100px;
  width: 340px;
  margin-top: 2rem;
  color: #b3bac5;
}

button {
  width: 140px;
  height: 48px;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  border-radius: 10px;
  border: 1px solid #dfe1e6;
  text-align: center;
  letter-spacing: 0.03em;
  margin: auto;
}

.cards .card {
  border-radius: 16px;
  margin: 6rem auto 0;
  height: auto;
  width: 90%;
  padding: 16px;
  background: #fff;
}

.img {
  flex: none;
  padding: 0;
  margin: auto;
  height: 280px;
  width: 100%;
  border-radius: 8px;
}