body {
  font-family: Poppins, sans-serif;
  background: #f7f7f9;
}

.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

header {
  height: 104px;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 10px;
  padding: 0 16px;
}

.clock {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: -0.28px;
  color: #000;
  padding-left: 40px;
}

.icons {
  margin-top: 9px;
  padding-right: 20px;
}

.logo {
  width: 76px;
  height: 20px;
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #6070ff;
  flex: none;
  order: 0;
  flex-grow: 0;
  padding-top: 3px;
  margin-left: 15px;
  text-decoration: none;
}

.logo:hover {
  color: gray;
  cursor: pointer;
}

nav > i {
  padding-right: 20px;
}

.tab-title > i {
  margin-right: 50px;
}

.icons > i {
  font-size: 12px;
  margin: 1px;
}

.background {
  width: 100%;
  height: 587px;
  background-image: url("image-source/header-shapes\ mobile.png");
  background-size: cover;
}

.text-container {
  display: flex;
  flex-direction: column;
  margin: 80px 30px;
}

.title {
  flex: 1;
  width: 100%;
  height: 150px;
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  color: #172b4d;
  margin-bottom: 100px;
}

.paragraph {
  flex: 1;
  width: 100%;
  height: 146px;
  margin-top: -10px;
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #344563;
}

.connect {
  width: 300px;
  height: 24px;
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #7f8cff;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin-left: 28px;
}

.social-media {
  display: flex;
  flex-direction: row;
  margin-left: 23px;
  list-style: none;
  padding-left: 0;
  margin-top: -5px;
}

.media-item {
  padding: 5px;
  color: #505f79;
}

.subtitle > i {
  color: #c1c7d0;
  width: 8px;
  height: 8px;
  padding: 0 20px;
}

nav > i:hover {
  color: gray;
  cursor: pointer;
}

.media-item:hover {
  color: gray;
  cursor: pointer;
}

.space {
  width: 100%;
  height: 114px;
}

.works {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 596px 596px 596px 596px;
  grid-gap: 350px;
}

.cardon {
  margin: auto;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px;
  gap: 12px;
  width: 100%;
  height: 800px;
  background: #fff;
  border: 1px solid #dfe1e6;
  border-radius: 16px;
}

.picture {
  border-radius: 16px;
  flex: 2;
  width: 100%;
  background-image: url("image-source/Snapshoot\ Portfolio.png");
  background-size: cover;
  background-position: center;
}

.info {
  flex: 2;
  width: 100%;
}

.cardon-title {
  width: 100%;
  height: 36px;
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  color: #172b4d;
}

.subtitle {
  display: flex;
  flex-direction: row;
  padding: 10px 0 25px;
}

.company {
  width: 55px;
  height: 16px;
  padding-left: 0;
  padding-right: 10px;
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #344563;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.job {
  width: 130px;
  height: 16px;
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #7a869a;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.year {
  width: 88px;
  height: 16px;
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #7a869a;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.desc {
  width: 295px;
  height: 76px;
  padding-bottom: 20px;
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #344563;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.tags {
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
  list-style: none;
  padding-left: 0;
}

.tag {
  text-align: center;
  margin-right: 20px;
  padding-top: 5px;
  align-items: center;
  width: 53px;
  height: 24px;
  background: #ebebff;
  border-radius: 8px;
  flex: none;
  order: 0;
  flex-grow: 0;
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #6070ff;
}

.javascript {
  width: 90px;
}

.button {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px;
  gap: 10px;
  width: 124px;
  height: 48px;
  border: 1px solid #6070ff;
  border-radius: 8px;
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  color: #396df2;
}

.button:hover {
  color: gray;
  cursor: pointer;
}

.picture2 {
  border-radius: 16px;
  flex: 2;
  width: 100%;
  background-image: url("image-source/Snapshoot\ Portfolio\ \(1\).png");
  background-size: cover;
  background-position: center;
}

.picture3 {
  border-radius: 16px;
  flex: 2;
  width: 100%;
  background-image: url("image-source/Snapshoot\ Portfolio2.png");
  background-size: cover;
  background-position: center;
}

.picture4 {
  border-radius: 16px;
  flex: 2;
  width: 100%;
  background-image: url("image-source/Snapshoot\ Portfolio3.png");
  background-size: cover;
  background-position: center;
}

.about {
  margin-top: 250px;
  display: flex;
  flex-direction: column;
  padding: 0 22px;
  padding-bottom: 50px;
  background-color: #fff;
  background-size: cover;
  background-position: center;
}

.about-title {
  flex: 1;
  width: 327px;
  height: 101px;
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  display: flex;
  align-items: center;
  color: #172b4d;
}

.about-desc {
  margin-top: -30px;
  flex: 1;
  width: 100%;
  height: 144px;
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
}

.handle {
  flex: 1;
  width: 100%;
  padding-top: 10px;
  margin-left: -25px;
}

.about-button {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px;
  margin-bottom: -25px;
  gap: 10px;
  width: 170px;
  height: 48px;
  border: 1px solid #6070ff;
  border-radius: 8px;
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  color: #396df2;
}

.about-button:hover {
  color: gray;
  cursor: pointer;
}

.vert-tabs {
  display: flex;
  flex-direction: column;
  list-style: none;
  margin-top: 50px;
  margin-left: -20px;
  width: 100%;
}

.tab-list {
  list-style: none;
}

.line {
  height: 1.5px;
  background: #dfe1e6;
  width: 85%;
}

.tab-title {
  flex: 1;
  height: 24px;
  margin: 15px 0 20px;
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #000;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.tab-lang {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 5px 0;
  height: 66.72px;
  margin: 5px 36px 7px 6px;
  background: #ececec;
  border-radius: 8px;
  padding-left: 15px;
}

.tab-text {
  margin-left: 5px;
}

.contact {
  width: 100%;
  height: 780px;
  background-image: url("image-source/contactme.png");
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
}

.contact-me {
  position: absolute;
  width: 801px;
  height: 56px;
  left: -213px;
  top: 4734px;
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #fff;
}

li {
  list-style: none;
}

.name-area {
  width: 80vw;
  height: 5vh;
  font-size: 1.2rem;
  padding: 5px;
}

.email-area {
  width: 80vw;
  height: 5vh;
  font-size: 1.2rem;
  padding: 5px;
}

.text-area {
  width: 80vw;
  height: 20vh;
  font-size: 1.2rem;
  padding: 5px;
}

.last-section-mobile {
  padding: 50px 20px;
  background-image: url(./image-source/Frame.png);
  background-color: #6070ff;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  text-align: center;
  gap: 40px;
  border-top-left-radius: 100px;
}

.last-section-mobile h2 {
  text-align: center;
  font-size: 2.5rem;
}

.last-section-mobile p {
  font-size: 1.3rem;
  line-height: 1.5;
  color: #ebebff;
}

.mobile-contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 20px;
}

.input {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.input-1 {
  width: 90vw;
  height: 6vh;
  border-radius: 5px;
  border: none;
  z-index: 2;
  box-shadow: 0 0 5px;
}

.input-2 {
  width: 90vw;
  height: 20vh;
  border-radius: 5px;
  border: none;
  box-shadow: 0 0 5px;
}

.input-2::placeholder {
  color: #b3bac5;
  padding: 0 20px;
  font-size: 1.2rem;
}

.input {
  padding: 5px;
  width: 85vw;
  height: 5vh;
  font-size: 1.2rem;
  margin-bottom: 30px;
  border-radius: 8px;
  border: 1px solid rgb(237, 232, 232);
}
.message-mobile {
  width: 86vw;
  padding: 5px;
  height: 20vh;
  font-size: 1.2rem;
  margin-bottom: 30px;
  border-radius: 8px;
  border: 1px solid rgb(237, 232, 232);
}

.button-contact {
  width: 100%;
  text-align: left;
}

.btn a {
  font-size: 1.1rem;
  color: #396df2;
}

fieldset {
  border: none;
}

button {
  padding: 10px;
  background-color: white;
  border-radius: 5px;
  border: 1px solid #396df2;
  margin-bottom: 10px;
  font-size: 1.2rem;
  color: #396df2;
}