@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap");

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background: #e5e5e5;
  font-family: Poppins, sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: black;
}

a {
  font-family: Poppins, sans-serif;
  font-weight: 700;
  font-size: 18px;
  text-decoration: none;
  color: #6070ff;
}

ul,
li {
  list-style: none;
  padding-left: 0;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
  background-color: #fff;
  margin-bottom: 0;
}

.logo {
  width: 76px;
  height: 20px;
  line-height: 20px;
}

.bg-languages {
  margin: 0.7rem 0;
  padding: 0.5rem;
  background: #f7f7f9;
  border-radius: 8px;
}

.bg-languages a {
  margin-right: 0.8rem;
}

.main {
  padding: 16px;
  padding-bottom: 30px;
  border-bottom-left-radius: 80px;
  margin-bottom: 2rem;
  background-image: url("./image/headerbg.png");
  background-size: cover;
  background-position: 100% 10%;
  background-repeat: no-repeat;
  height: auto;
  width: 100%;
  background-color: #fff;
  margin-top: -2px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.h1 {
  font-weight: 700;
  font-size: 2.5rem;
  margin-top: 8rem;
  margin-bottom: 0;
  color: #172b4d;
  width: 80%;
  line-height: 1.2em;
}

.p {
  font-size: 1rem;
  color: #69758a;
  line-height: 1.4;
  font-weight: 400;
}

.h4-connect {
  color: #7f8be4;
  font-size: 1rem;
  font-weight: 200;
  margin: 0;
}

.flex {
  display: flex;
  gap: 0.7rem;
  padding-bottom: 3rem;
}

.item-center {
  align-items: center;
}

.icon-tag {
  width: 1rem;
  height: 1rem;
  margin: 0 0 0 16px;
}

#Contact-me {
  background: #6070ff;
  border-top-left-radius: 80px;
  background-image: url("/image/headerbg.png");
  background-size: cover;
  background-position: 100% 10%;
  background-repeat: no-repeat;
  height: auto;
  width: 100%;
  padding: 16px;
}

.contact {
  width: 327px;
  height: 102px;
  margin: auto;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  color: #ebebff;
}

.contact-title {
  margin: 70px auto 16px;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  padding: 1rem 0 0;
  text-align: center;
  color: #fff;
}
.container {
  padding-top: 5rem;
}

.text-field {
  height: 48px;
  width: 327px;
  margin: 0;
  text-align: center;
}

#fname {
  height: 48px;
  width: 340px;
  border-radius: 8px;
}

#lname {
  margin-top: 1rem;
  height: 48px;
  width: 340px;
  border-radius: 8px;
}

.subject {
  margin: 0;
}

#subject {
  border-radius: 8px;
  height: 100px;
  width: 340px;
  margin-top: 2rem;
  color: #b3bac5;
}

button:hover {
  color: gray;
  cursor: pointer;
}

button {
  width: 140px;
  height: 48px;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  border-radius: 10px;
  text-align: center;
  letter-spacing: 0.03em;
  margin: auto;
  border: 1px solid #6070ff;
  border-radius: 8px;
}

.cards .card {
  border-radius: 16px;
  margin: 6rem auto 0;
  height: auto;
  width: 90%;
  padding: 16px;
  background: #fff;
}

.img {
  flex: none;
  padding: 0;
  margin: auto;
  height: 280px;
  width: 100%;
  border-radius: 8px;
}

.works {
  display: flex;
  align-items: center;
}

.works2 {
  display: flex;
  align-items: center;
}

li {
  color: #7a869a;
}

.works2 li {
  margin-right: 0.5rem !important;
}

.works li {
  margin-right: 0.3rem !important;
}

#aboutme {
  border-top-right-radius: 80px;
  margin-top: 8rem;
  height: auto;
  width: 100%;
  padding: 16px;
  background: #fff;
}

.aboutme {
  font-weight: 700;
  width: 250px;
  height: 101px;
  font-size: 40px;
  line-height: 52px;
  display: flex;
  align-items: center;
}

h4 {
  margin: 2.5rem auto 1.3rem;
  color: #000;
}

.base-about-myself {
  padding: 18px;
  background-color: #fff;
}

.frameworks {
  display: flex;
  align-items: center;
  justify-content: space-between;
  word-spacing: 10rem;
  width: 100%;
  padding-right: 0.8rem;
}

.skills {
  word-spacing: 13.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding-right: 0.8rem;
}

hr {
  margin: auto 1px;
  height: 1px;
  background: #dfe1e6;
}

.bg-white {
  background-color: white;
}
