* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
  overflow-x: hidden;
}

body {
  background-color: rgb(248, 248, 248);
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 20px;
}

.logo a {
  font-size: 1.3rem;
  font-weight: 800;
  color: #6070ff;
}

.profile img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  border: 10px;
  border-radius: 15px;
}

.menu ul a img {
  width: 40px;
  height: 40px;
}

.section-1 {
  background: url(image-source/header-shapes\ mobile.png);
  background-repeat: no-repeat;
  background-position: center;
  height: 80vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}

.about-me p {
  font-size: 1.2rem;
  color: #344563;
  line-height: 1.5;
}

.about-me h3 {
  font-weight: 100;
  color: #6070ff;
}

.section-1 h1 {
  font-size: 2.5rem;
  color: #172b4d;
  padding: 0 20px;
  line-height: 1.4;
}

.section-1 p {
  font-size: 1.2rem;
  color: #344563;
  padding: 0 20px;
  line-height: 1.5;
}

.section-1 h3 {
  font-weight: 400;
  color: #6070ff;
  padding: 0 20px;
}

.nav-links {
  display: flex;
  padding: 0 20px;
  align-items: center;
  gap: 15px;
  height: 50px;
}

.nav-links li {
  width: 25px;
  height: 25px;
  overflow: hidden;
}

.nav-links li a img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.container {
  margin-top: 100px;
  padding: 20px;
  background-color: rgb(248, 248, 248);
}

.card-port {
  background-color: white;
  box-shadow: 0 0 1px;
  border-radius: 15px;
  padding: 20px;
  margin-bottom: 100px;
}

.card-port-description {
  margin-top: 20px;
  border-radius: 10px;
}

.card-port-description h3 {
  font-size: 2rem;
  color: #344563;
}

.profile-description {
  display: flex;
  align-items: center;
  gap: 8px;
  margin: 20px 0;
}

.profile-description p {
  color: #7a869a;
  font-weight: 500;
  letter-spacing: 0;
  font-size: 4vmin;
}

.profile-description h5 {
  color: #344563;
}

.description-section p {
  line-height: 1.5;
  margin-bottom: 20px;
  color: #344563;
}

.lang {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.lang li {
  background-color: #ebebff;
  color: #6070ff;
  font-size: 14px;
  border-radius: 10px;
  padding: 2px 8px;
}

button {
  padding: 10px;
  background-color: white;
  border-radius: 8px;
  border: 1px solid #396df2;
  margin-bottom: 10px;
  font-size: 1.2rem;
  color: #396df2;
}

.btn a {
  font-size: 1.1rem;
  color: #396df2;
}

.skeleton li {
  font-size: 1.2rem;
  font-weight: bold;
  line-height: 1.5;
  color: black;
  width: 70vw;
  margin-right: 50px;
  padding: 20px 0;
}

.About-me {
  background: none;
  background-color: white;
  border-top-right-radius: 100px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.About-me h2 {
  font-size: 2.5rem;
  color: #172b4d;
  line-height: 1.4;
}

.About-me p {
  font-size: 1.2rem;
  color: #344563;
}

.language-description {
  font-size: 1.3rem;
  color: black;
}

.nav-links ul {
  display: flex;
  align-items: center;
  gap: 15px;
  height: 50px;
}

.nav-links ul li {
  width: 30px;
  height: 30px;
}

.languages {
  padding: 15px;
}

.language {
  display: flex;
  align-items: center;
  gap: 1rem;
  background-color: #f7f7f9;
  padding: 6px;
  margin-bottom: 0.8rem;
  border-radius: 10px;
}

.skeleton {
  display: flex;
  align-items: center;
  margin: 0 20px;
  border-bottom: 0.5px solid rgb(180, 180, 180);
}

.contact-section {
  padding: 50px 20px;
  background-image: url(image-source/Contact\ me.png);
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  text-align: center;
  gap: 20px;
  border-top-left-radius: 100px;
}

.bg-contact {
  background-color: white;
}

.contact-section h2 {
  text-align: center;
  font-size: 2.5rem;
  margin-top: 2rem;
}

.contact-section p {
  font-size: 1.3rem;
  line-height: 1.5;
  color: #ebebff;
}

.input {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.input-1 {
  width: 90vw;
  height: 6vh;
  border-radius: 5px;
  border: none;
  z-index: 2;
  box-shadow: 0 0 5px;
}

.input-2 {
  width: 90vw;
  height: 20vh;
  border-radius: 5px;
  border: none;
  box-shadow: 0 0 5px;
}

.input-2::placeholder {
  color: #b3bac5;
  padding: 0 20px;
  font-size: 1.2rem;
}

.portfolio-portfolio-works {
  padding: 20px;
  display: grid;
  grid-template-columns: 1fr;
}

button:hover {
  background-color: #6070ff;
  color: white;
}

button a:hover {
  background-color: #6070ff;
  color: white;
}

.contact-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 20px;
}

fieldset {
  border: none;
}

.input-contact {
  padding: 5px 20px;
  width: 75vw;
  height: 5vh;
  font-size: 1.1rem;
  margin-bottom: 30px;
  border-radius: 6px;
  border: 1px solid rgb(237, 232, 232);
}

.message-input {
  width: 75vw;
  padding: 15px 18px;
  height: 20vh;
  font-size: 1.1rem;
  margin-bottom: 30px;
  border-radius: 6px;
  border: 1px solid rgb(237, 232, 232);
}

.button {
  width: 100%;
  text-align: left;
  font-size: 1.1rem;
}

.ellipse-33 {
  position: absolute;
  rotate: 7deg;
  right: -0.1rem;
  margin-top: 24px;
}

.rectangle-4 {
  position: absolute;
  rotate: 3deg;
  right: -0.2rem;
}

.rectangle-7 {
  position: absolute;
  right: 5rem;
  rotate: 2deg;
  margin-top: -80px;
}

.ellipse-5 {
  position: absolute;
  right: 7rem;
  margin-top: -50px;
}
